<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"
  />
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="mironcoder" />
    <meta name="email" content="mironcoder@gmail.com" />
    <meta name="profile" content="https://themeforest.net/user/mironcoder" />
    <meta name="template" content="greeny" />
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
    <meta
      name="keywords"
      content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online"
    />
    <title>Web bán nông sản xanh !</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
    <link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
    <link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/checkout.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    
    <!--************************************
				Header Start
		*************************************-->
		<header th:replace="~{/web/fragments/header :: header}"></header>
		<!--************************************
				Header End
		*************************************-->

    <section
      class="inner-section single-banner"
      style="background: url(images/single-banner.jpg) no-repeat center">
      <div class="container">
        <h2>Information line</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
        </ol>
      </div>
    </section>
    <section class="inner-section checkout-part">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="alert-info">
              <p>
                <a href="contact.html">eedBack của khách hàng</a>
              </p>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="account-card">
              <div class="account-title"><h4>Danh sách đơn hàng của bạn</h4></div>
              <div class="text-center">
					<h3 style="color: #119744" class="mt-5">ĐẶT HÀNG THÀNH CÔNG!</h3>
					<br>
					<h4>Xin chúc mừng! <span style="text-decoration: underline; color: #119744">[[${user.name}]]</span> Đã đặt hàng thành công!</h4>
					<h5><em>Chúng tôi sẽ giao hàng cho bạn sớm, cảm ơn!</em></h5>
					<h5><em>Cảm ơn bạn đã mua hàng !</em></h5>
					<hr>
					<a th:href="@{/}" style="text-decoration: underline; color: #119744"><em>Nhấn vào đây để tiếp tục mua sắm !</em></a>
				</div>
            </div>
          </div>

          
        </div>
      </div>
    </section>
    
    <section
      class="news-part"
      style="background: url(images/newsletter.jpg) no-repeat center">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 col-lg-6 col-xl-7">
            <div class="news-text">
              <h2>Nhận chiết khấu 20% cho người đăng ký</h2>
              <p>Nhận chiết khấu 20% cho người đăng ký</p>
            </div>
          </div>
          <div class="col-md-7 col-lg-6 col-xl-5">
            <form class="news-form">
              <input
                type="text"
                placeholder="Nhập địa chỉ email của bạn"
              /><button>
                <span><i class="icofont-ui-email"></i>Đặt mua</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="intro-part">
      <div class="container">
        <div class="row intro-content">
          <div class="col-sm-6 col-lg-3">
            <div class="intro-wrap">
              <div class="intro-icon"><i class="fas fa-truck"></i></div>
              <div class="intro-content">
                <h5>Giao hàng tận nhà miễn phí</h5>
                <p>Giao hàng đúng sản phẩm nhanh chóng, đúng hẹn, hỗ trợ giao tận cửa nếu có nhu ... hạng vàng rồi mà hóa đơn trên 100k vẫn k dc freeship vẫn tính 10k ship.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="intro-wrap">
              <div class="intro-icon"><i class="fas fa-sync-alt"></i></div>
              <div class="intro-content">
                <h5>Chính Sách Hoàn Tiền</h5>
                <p>Hoàn lại số tiền bằng với tiền vận chuyển mà người mua đã thanh toán cho đơn vị vận chuyển thông qua “Số dư tài khoản Vegetable-Organic” trên ứng dụng.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="intro-wrap">
              <div class="intro-icon"><i class="fas fa-headset"></i></div>
              <div class="intro-content">
                <h5>Hệ Thống Hỗ Trợ</h5>
                <p>Nguồn rau sạch rõ ràng, giá lại rẻ hơn cả rau mua ngoài chợ.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="intro-wrap">
              <div class="intro-icon"><i class="fas fa-lock"></i></div>
              <div class="intro-content">
                <h5>Thanh toán an toàn</h5>
                <p>Người mua có thể gửi yêu cầu trả hàng/hoàn tiền trong vòng 07 (bảy) ngày (đối với các sản phẩm thuộc Cửa Hàng) và 03 (ba) ngày (đối với các sản phẩm không thuộc Cửa Hàng) kể từ lúc đơn hàng được cập nhật giao hàng thành công.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--************************************
				Footer Start
		*************************************-->
		<footer th:replace="~{/web/fragments/footer :: footer}"></footer>
				
		<!--************************************
				Footer End
		*************************************-->
		
		
    <script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
    <script src="vendor/bootstrap/popper.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="vendor/countdown/countdown.min.js"></script>
    <script src="vendor/niceselect/nice-select.min.js"></script>
    <script src="vendor/slickslider/slick.min.js"></script>
    <script src="vendor/venobox/venobox.min.js"></script>
    <script src="js/nice-select.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/accordion.js"></script>
    <script src="js/venobox.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
