<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<footer class="footer-part" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <a class="footer-logo" href="javascript:void(0);">
                        <img src="/images/logo.png" alt="logo"/>
                    </a>
                    <p class="footer-desc">Trước hết, Công ty TNHH THỰC PHẨM XANH xin gửi đến Quý Khách hàng lời chúc
                        sức khỏe và lời chào trân trọng nhất!

                        Ngày nay, thực phẩm an toàn luôn là mối quan tâm hàng đầu của người tiêu dùng. Nắm bắt nhu cầu
                        đó, chúng tôi đã lựa chọn mô hình sản xuất rau an toàn theo quy trình VietGAP và cung cấp thực
                        phẩm sạch, an toàn, chất lượng . </p>
                    <ul class="footer-social">
                        <li><a class="icofont-facebook" href="javascript:void(0);"></a></li>
                        <li><a class="icofont-twitter" href="javascript:void(0);"></a></li>
                        <li><a class="icofont-linkedin" href="javascript:void(0);"></a></li>
                        <li><a class="icofont-instagram" href="javascript:void(0);"></a></li>
                        <li><a class="icofont-pinterest" href="javascript:void(0);"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget contact">
                    <h3 class="footer-title">Liên Hệ</h3>
                    <ul class="footer-contact">
                        <li><i class="icofont-ui-email"></i>
                            <p>
                                <span>ngochithanhdat02@gmail.com</span><span>dat3578@gmail.com</span>
                            </p></li>
                        <li><i class="icofont-ui-touch-phone"></i>
                            <p>
                                <span>+84 394 4807 57</span><span>+84 394 4807 57</span>
                            </p></li>
                        <li><i class="icofont-location-pin"></i>
                            <p>Nguyệt Cầu Tam Giang Yên Phong Bắc Ninh</p></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">Thông Tin</h3>
                    <div class="footer-links">
                        <ul>
                            <li><a href="javascript:void(0);">Chi Tiết Shipper</a></li>
                            <li><a href="javascript:void(0);">Tìm Kiếm Nâng Cao</a></li>

                        </ul>
                        <ul>
                            <li><a href="javascript:void(0);">Trợ Giúp & Câu Hỏi</a></li>
                            <li><a href="javascript:void(0);">Đơn Hàng & Trả Hàng</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="footer-widget">
                    <h3 class="footer-title">Thời Gian Hoạt Động</h3>
                    <div class="footer-links">
                        <ul>
                            <li><a href="javascript:void(0);">Thứ 2-6 : 8h-22h</a></li>
                            <li><a href="javascript:void(0);">T7-CN : 9h-18h</a></li>
                            <li><a href="javascript:void(0);">Ngày Lễ: Không Hoạt Động</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="footer-bottom">
                    <p class="footer-copytext">&copy; Developer by Vegetable Organic Group</p>
                    <div class="footer-card">
                        <a href="javascript:void(0);">
                            <img src="/images/payment/jpg/01.jpg" alt="payment"/>
                        </a>
                        <a href="javascript:void(0);">
                            <img src="/images/payment/jpg/02.jpg" alt="payment"/>
                        </a>
                        <a href="javascript:void(0);">
                            <img src="/images/payment/jpg/03.jpg" alt="payment"/>
                        </a>
                        <a href="javascript:void(0);">
                            <img src="/images/payment/jpg/04.jpg" alt="payment"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>